{% import "macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
    <title>{% block title %}Tagsonomy{% endblock %}</title>
    {% block head_scripts %}{% endblock %}
    <script src="{{ url_for('static', filename='common.js') }}"></script>
    <script src="{{ url_for('static', filename='tree-view.js') }}"></script>
    {% block scripts %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
    <header>
        <h1>Tagsonomy</h1>
        {{ macros.navbar() }}
    </header>
    <main>
        {% block main_inner %}
        <section class="page-content" aria-label="Content">
            {% block content %}{% endblock %}
        </section>
        {% endblock %}
    </main>
</body>

</html>