{% extends "base.html" %}

{% block title %}Tagsonomy | Columns{% endblock %}

{% block content %}
<span data-user-ns="{{ user_ns }}" hidden></span>

<input type="search" 
       data-filter-for="column_list"
       value="{{ column_uri }}" 
       placeholder="Search for columns...">

<ul id="column_list">
    {% for column in columns %}
    <li>
        <div>
            <b>URI:</b> <span data-searchable>{{ column.uri | safe }}</span>
        </div>
        <div>
            <b>Name:</b> <span data-searchable>{{ column.name | safe }}</span>
        </div>
        <div>
            <b>Assigned Properties:</b>
            {% if column.assigned_properties %}
            <ul>
                {% for assignment in column.assigned_properties %}
                <li><a href="{{ url_for('properties.properties_get', property_uri=assignment.property_uri) }}">{{ assignment.property_name | default(assignment.property_uri, true) | safe }}</a> ({{ assignment.property_uri | safe }})</li>
                {% endfor %}
            </ul>
            {% else %}
            <span>None</span>
            {% endif %}
        </div>
        <button data-delete 
                data-url="{{ url_for('columns.column_delete') }}" 
                data-type="column" 
                data-uri="{{ column.uri }}">Delete</button>
        <a href="{{ url_for('assign.assign_get', selected_column_uri=column.uri) }}"><button type="button">Assign</button></a>
    </li>
    {% endfor %}
</ul>

<hr/>

<h2>New Column</h2>
<form action="{{ url_for('columns.columns_post') }}" method='post'>
    <label for="catalog">Catalog:</label>
    <select name="catalog" id="catalog" 
            data-cascade="/api/schemas/:catalog" 
            data-enables="schema" 
            data-resets="schema,table,column" required>
        <option value="">Select Catalog...</option>
        {% for cat in catalogs %}
        <option value="{{ cat }}">{{ cat }}</option>
        {% endfor %}
    </select>
    
    <label for="schema">Schema:</label>
    <select name="schema" id="schema" 
            data-cascade="/api/tables/:catalog/:schema" 
            data-enables="table" 
            data-resets="table,column" required disabled>
        <option value="">Select Schema...</option>
    </select>
    
    <label for="table">Table:</label>
    <select name="table" id="table" 
            data-cascade="/api/columns/:catalog/:schema/:table" 
            data-enables="column" 
            data-resets="column" required disabled>
        <option value="">Select Table...</option>
    </select>

    <label for="column">Column:</label>
    <select name="column" id="column" required disabled>
        <option value="">Select Column...</option>
    </select>
    
    <label for="uri">Column IRI:</label>
    <input type="text" name="uri" id="uri" data-uri-from="catalog,schema,table,column"/>
    
    <input type="submit" value="Create"/>
</form>
{% endblock %}
