{% extends "base.html" %}

{% block title %}Tagsonomy | Columns{% endblock %}

{% block head_scripts %}
<script>
    window.TAGSO_CONFIG = {
        columnDeleteUrl: '{{ url_for("columns.column_delete") }}',
        userNs: '{{ user_ns }}'
    };
</script>
{% endblock %}

{% block scripts %}
<script>
    window.addEventListener('DOMContentLoaded', function() { 
        filter_columns(); 
    });
</script>
{% endblock %}

{% block content %}
<input type="search" 
       id="column_search" 
       value="{{ column_uri }}" 
       onkeyup="filter_columns()" 
       placeholder="Search for columns...">

<ul id="column_list">
    {% for column in columns %}
    <li>
        <div>
            <b>URI:</b> <span class="searchable">{{ column.uri | safe }}</span>
        </div>
        <div>
            <b>Name:</b> <span class="searchable">{{ column.name | safe }}</span>
        </div>
        <div>
            <b>Assigned Properties:</b>
            {% if column.assigned_properties %}
            <ul>
                {% for assignment in column.assigned_properties %}
                <li><a href="{{ url_for('properties.properties_get', property_uri=assignment.property_uri) }}">{{ assignment.property_name | default(assignment.property_uri, true) | safe }}</a> ({{ assignment.property_uri | safe }})</li>
                {% endfor %}
            </ul>
            {% else %}
            <span>None</span>
            {% endif %}
        </div>
        <button onclick="delete_column('{{ column.uri }}')">Delete</button>
        <a href="{{ url_for('assign.assign_get', selected_column_uri=column.uri) }}"><button type="button">Assign</button></a>
    </li>
    {% endfor %}
</ul>

<hr/>

<h2>New Column</h2>
<form action="{{ url_for('columns.columns_post') }}" method='post'>
    <label for="catalog">Catalog:</label>
    <select name="catalog" id="catalog" onchange="loadSchemas()" required>
        <option value="">Select Catalog...</option>
        {% for cat in catalogs %}
        <option value="{{ cat }}">{{ cat }}</option>
        {% endfor %}
    </select>
    
    <label for="schema">Schema:</label>
    <select name="schema" id="schema" onchange="loadTables()" required disabled>
        <option value="">Select Schema...</option>
    </select>
    
    <label for="table">Table:</label>
    <select name="table" id="table" onchange="loadColumns()" required disabled>
        <option value="">Select Table...</option>
    </select>

    <label for="column">Column:</label>
    <select name="column" id="column" onchange="updateUriFromSelection()" required disabled>
        <option value="">Select Column...</option>
    </select>
    
    <label for="uri">Column IRI:</label>
    <input type="text" name="uri" id="uri"/>
    
    <input type="submit" value="Create"/>
</form>
{% endblock %}
