{% extends "base.html" %}

{% block title %}Tagsonomy | View Table{% endblock %}

{% block content %}
<h1>Table Details</h1>
<section>
    <p><b>URI:</b> {{ table.uri }}</p>
    <p><b>Name:</b> {{ table.name }}</p>
</section>

<hr />

<section>
    <h2>Assigned Concepts</h2>
    {% if assigned_concepts %}
    <ul>
        {% for assignment in assigned_concepts %}
        <li>
            <a href="{{ url_for('concepts.concept_edit_get', uri=assignment.concept_uri) }}">
                {{ assignment.concept_name | default(assignment.concept_uri, true) | safe }}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No concepts assigned to this table.</p>
    {% endif %}
    <a href="{{ url_for('assign.assign_get', selected_table_uri=table.uri) }}"><button type="button">Assign
            Concepts</button></a>
</section>
{% endblock %}