{% extends "base.html" %}

{% block title %}Tagsonomy | View Column{% endblock %}

{% block content %}
<h1>Column Details</h1>
<section>
    <p><b>URI:</b> {{ column.uri }}</p>
    <p><b>Name:</b> {{ column.name }}</p>
</section>

<hr />

<section>
    <h2>Assigned Properties</h2>
    {% if assigned_properties %}
    <ul>
        {% for assignment in assigned_properties %}
        <li>
            <a href="{{ url_for('properties.property_edit_get', uri=assignment.property_uri) }}">
                {{ assignment.property_name | default(assignment.property_uri, true) | safe }}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No properties assigned to this column.</p>
    {% endif %}
    <a href="{{ url_for('assign.assign_get', selected_column_uri=column.uri) }}"><button type="button">Assign
            Properties</button></a>
</section>
{% endblock %}