{% macro navbar() %}
<nav>
    <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('tables.tables_get') }}">Tables</a></li>
        <li><a href="{{ url_for('concepts.concepts_get') }}">Concepts</a></li>
        <li><a href="{{ url_for('columns.columns_get') }}">Columns</a></li>
        <li><a href="{{ url_for('properties.properties_get') }}">Properties</a></li>
        <li><a href="{{ url_for('assign.assign_get') }}">Assign</a></li>
        <li><a href="{{ url_for('sync.sync_get') }}">Sync</a></li>
        <li><a href="{{ url_for('import_export.import_export_get') }}">Import/Export</a></li>
    </ul>
</nav>
{% endmacro %}