{% extends "base.html" %}

{% block title %}Tagsonomy | Tables{% endblock %}

{% block head_scripts %}
<script>
    window.TAGSO_CONFIG = {
        tableDeleteUrl: '{{ url_for("tables.table_delete") }}',
        userNs: '{{ user_ns }}'
    };
</script>
{% endblock %}

{% block scripts %}
<script>
    window.addEventListener('DOMContentLoaded', function() { 
        filter_tables(); 
    });
</script>
{% endblock %}

{% block content %}
<input type="search" 
       id="table_search" 
       value="{{ table_uri }}" 
       onkeyup="filter_tables()" 
       placeholder="Search for tables...">

<ul id="table_list">
    {% for table in tables %}
    <li>
        <div>
            <b>URI:</b> <span class="searchable">{{ table.uri | safe }}</span>
        </div>
        <div>
            <b>Name:</b> <span class="searchable">{{ table.name | safe }}</span>
        </div>
        <div>
            <b>Assigned Concepts:</b>
            {% if table.assigned_concepts %}
            <ul>
                {% for assignment in table.assigned_concepts %}
                <li><a href="{{ url_for('concepts.concepts_get', concept_uri=assignment.concept_uri) }}">{{ assignment.concept_name | default(assignment.concept_uri, true) | safe }}</a> ({{ assignment.concept_uri | safe }})</li>
                {% endfor %}
            </ul>
            {% else %}
            <span>None</span>
            {% endif %}
        </div>
        <button onclick="delete_table('{{ table.uri }}')">Delete</button>
        <a href="{{ url_for('assign.assign_get', selected_table_uri=table.uri) }}"><button type="button">Assign</button></a>
    </li>
    {% endfor %}
</ul>

<hr/>

<h2>New Table</h2>
<form action="{{ url_for('tables.tables_post') }}" method='post'>
    <label for="catalog">Catalog:</label>
    <select name="catalog" id="catalog" onchange="loadSchemas()" required>
        <option value="">Select Catalog...</option>
        {% for cat in catalogs %}
        <option value="{{ cat }}">{{ cat }}</option>
        {% endfor %}
    </select>
    
    <label for="schema">Schema:</label>
    <select name="schema" id="schema" onchange="loadTables()" required disabled>
        <option value="">Select Schema...</option>
    </select>
    
    <label for="table">Table:</label>
    <select name="table" id="table" onchange="updateUriFromSelection()" required disabled>
        <option value="">Select Table...</option>
    </select>
    
    <label for="uri">Table IRI (optional):</label>
    <input type="text" name="uri" id="uri"/>
    
    <input type="submit" value="Create"/>
</form>
{% endblock %}
